{% extends "base.html" %}
{% block title %}WareHouse Connect - Page Not Found{% endblock %}
{% block page_content %}
	<div class="page-header">
		</div>


<div class="panel panel-danger col-md-10 col-md-offset-1">
  <div class="panel-heading">
    <h3 class="panel-title"><font face="Tahoma" color="red">Error 404</font></h3>
  </div>
  		<div class="panel-body">
  		<div class="row">
  		<div class="col-md-6">
          <h1>Page Not Found </h1>
          <br />
          <p>The page you requested could not be found, either contact me via <a href="mailto:imosudi@gmail.com">admin@warehouseconnect.com</a> or try again. Use your browsers <b>Back</b> button to navigate to the page you have previously come from</p>
          <p><b>Or you could just press this neat little button:</b></p>
          <a href="/" class="btn btn-large btn-info"><i class="icon-home icon-white"></i> Take Me to App Home</a>
          </div>
          <div class="col-md-6"><img class="img-responsive" src="static/images/rubiks.png"></div>
        </div>
 		</div>
        
    </div>
  



	
{% endblock %}