{% extends "bootstrap/base.html" %}
{% block title %}Wharehouse{% endblock %}

{% block scripts %}
{{ super() }}
<!--link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"-->
<link rel="apple-touch-icon" href="{{ url_for('static', filename='favico/apple-icon-57x57.png') }}">
<link rel="apple-touch-icon"  href="{{ url_for('static', filename='favico/apple-icon-60x60.png') }}">
<link rel="apple-touch-icon"  href="{{ url_for('static', filename='favico/apple-icon-72x72.png') }}">
<link rel="apple-touch-icon" href="{{ url_for('static', filename='favico/apple-icon-76x76.png') }}">
<link rel="apple-touch-icon"  href="{{ url_for('static', filename='favico/apple-icon-114x114.png') }}">
<link rel="apple-touch-icon"  href="{{ url_for('static', filename='favico/apple-icon-120x120.png') }}">
<link rel="apple-touch-icon"  href="{{ url_for('static', filename='favico/apple-icon-144x144.png') }}">
<link rel="apple-touch-icon"  href="{{ url_for('static', filename='favico/apple-icon-152x152.png') }}">
<link rel="apple-touch-icon"  href="{{ url_for('static', filename='favico/apple-icon-180x180.png') }}">
<link rel="icon" type="image/png"  href="{{ url_for('static', filename='favico/android-icon-192x192.png') }}">
<link rel="icon" type="image/png" href="{{ url_for('static', filename='favico/favicon-32x32.png') }}">
<link rel="icon" type="image/png"  href="{{ url_for('static', filename='favico/favicon-96x96.png') }}">
<link rel="icon" type="image/png"  href="{{ url_for('static', filename='favico/favicon-16x16.png') }}">
<link rel="manifest" href="{{ url_for('static', filename='favico/manifest.json') }}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{{ url_for('static', filename='favico/ms-icon-144x144.png') }}">
<meta name="theme-color" content="#ffffff">
{{ moment.include_moment() }}
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Warehouse Connect</a>
		</div>
	<div class="navbar-collapse collapse">
		<ul class="nav navbar-nav">
			<li><a href="/">Home</a></li>
		</ul>
		
	</div>
	</div>
</div>
{% endblock %}
{% block content %}
	<div class="container">
		{% block page_content %}{% endblock %}
	</div>

{% endblock %}