{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Web App{% endblock %}
{% block page_content %}
<!--div class="container">
	{% for message in get_flashed_messages() %}
	<div class="alert alert-warning" >
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		{{ message }}		
	</div>
	{% endfor %}
</div-->
<div class="page-header">
<h2>Order page</h2>
</div>

<div class="panel panel-info col-md-10 col-md-offset-1">
  <div class="panel-heading">
    <h3 class="panel-title">Order</h3>
  </div>
  <div class="panel-body">
  <div class="row">
	  <div class="col-md-4"> 
	  	
	  </div>
  
  	  <div class="col-md-8" >
  	  <h3>Products</h3>
  	  <div class="row">
  	  <form action="" method="post"  class="form" role="form">
  	  <input id="csrf_token" name="csrf_token" type="hidden" value="ImM0NzhiMzgxZjNiYWQ0YmQzYTdlYmMxMmMwOTg1MGFhMGJlMTZlMDMi.DJGHWw.ordxYvh8O9RRkr3Vz0edrkKbn5E">

  	  	<div class="col-md-4">Laptop
  	  		<div class="col-md-12"><img class="img-responsive" src="static/images/laptop.png" width="80%"  height="150px"></div>
  	  		<div class="checkbox">
      <label>
        <input id="Add_Items_to_Cart" name="laptop" type="checkbox" value="y"> Add Items to cart
      </label>
    </div>
  	  	</div>
  	  	<div class="col-md-4">Men Shirt
  	  		<div class="col-md-14"><img class="img-responsive" src="static/images/shirt.jpg" width="80%" height="150px"></div>
  	  		<div class="checkbox">
      <label>
        <input id="Add_Items_to_Cart" name="menshirt" type="checkbox" value="y"> Add Items to cart
      </label>
    </div>
  	  	</div>
  	  	<div class="col-md-4">Laptop Charger
  	  		<div class="col-md-14"><img class="img-responsive" src="static/images/charger.png" width="80%" height="150px"></div>
  	  		<div class="checkbox">
      <label>
        <input id="Add_Items_to_Cart" name="charger" type="checkbox" value="y"> Add Items to cart
      </label>
    </div>
  	  	</div>
  	  	<input class="btn btn-default" id="submit" name="submit" type="submit" value="Order">
  	  	</form>
  	  </div>
  	  	
  	  </div>

	</div><!--end row-->


	  <!--	{{ wtf.quick_form(formCustomer) }} -->


 


  </div>
</div>

{% endblock %}


